DEBUG=true


OPENROUTER_API_KEY=your_openrouter_key
AZURE_OPENAI_API_KEY=your_azure_key
AZURE_OPENAI_ENDPOINT="https://tekan.openai.azure.com/"
AZURE_OPENAI_API_VERSION="2024-02-01"
# gpt-4o or gpt4o-mini
AZURE_OPENAI_DEPLOYMENT="gpt4o"
# gpt-4o or gpt-4o-mini
AZURE_OPENAI_MODEL_NAME="gpt-4o"